
header {
    border-bottom: 1px solid white;
}

.my-list li {
    list-style-type: none;
    border: 1px solid white;
    text-align: center;
    letter-spacing: 3.5px;
    margin-bottom: 15px;
    padding: 3px;
    border-radius: 8px;
    color: white;
};

.weather-list {
    list-style-type: none;
}
