
header {
    border: 1px solid rgb(88, 84, 84);
}

.my-list li {
    list-style-type: none;
    border: 1px solid white;
    text-align: center;
    letter-spacing: 3.5px;
    margin-bottom: 15px;
    padding: 3px;
    border-radius: 8px
};

.weather-list {
    list-style-type: none;
}

/* #feedback { font-size: 1.4em; }
  #selectable .ui-selecting { background: #FECA40; }
  #selectable .ui-selected { background: #F39814; color: white; }
  #selectable { list-style-type: none; margin: 0; padding: 0; width: 60%; }
  #selectable li { margin: 3px; padding: 0.4em; font-size: 1.4em; height: 18px; } */